@model lab10.Models.ArticleCreateViewModel
@using System.Globalization;

@{
    ViewData["Title"] = "Index";
}


@foreach(var category in ViewBag.Categories)
{
    <style>
        .cat-@category.Id {
            display: none
        }
    </style>
}

<h1>Index</h1>

<select class="form-select" id="selectCategory" onchange="onCategoryChange()">
    <option selected value="">Select category</option>
    @foreach (var category in ViewBag.Categories)
    {
        <option value="@category.Id">@category.Name</option>
    }
</select>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var article in ViewBag.Articles) 
    {
        <tr class="cat-@article.Category.Id">
            <td>
                <div>@article.Name</div>
            </td>
            <td>
                <div>$@article.Price.ToString(new CultureInfo("en-US"))</div>
            </td>
            <td>
                <img src="@article.Picture" alt="Image" width="30px" height="30px"/>
            </td>
            <td>
                <div>@article.Category.Name</div>
            </td>
            <td>
                <a asp-controller="Article" asp-action="Details" asp-route-id="@article.Id">Details</a>
                <button class="btn btn-primary" type="button" onclick="handleClick(@article.Id)">Add to basket</button>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
<script>
    let currCat = 0;

    const onCategoryChange = function (event) {
        let temp = document.getElementById("selectCategory").value;
        $('.cat-' + currCat).css('display', 'none');
        $('.cat-' + temp).css('display', 'table-row');
        currCat = temp;
    };

    const handleClick = function (id) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddToBasket", "Shop", new { id = "id" })',
            data: { id },
            success: function (resp) {
                if (resp.success) {
                    console.log("success");
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    };

    onCategoryChange();
</script>
}